################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs
/FNQHF-Fundraising-Engagement
/.vs/Fundraising-Engagement.Plugins/v17/.suo
/FundraisinApp-IntegrationPlugin/obj/Debug
/bin/Debug/Fundraising-Engagement.Plugins.dll
/bin/Debug/Fundraising-Engagement.Plugins.pdb
/FundraisinApp-IntegrationPlugin/bin/Debug/FundraisinApp-IntegrationPlugin.dll
/FundraisinApp-IntegrationPlugin/bin/Debug/FundraisinApp-IntegrationPlugin.pdb
/FundraisinApp-IntegrationPlugin/obj/Debug/FundraisinApp-IntegrationPlugin.csproj.AssemblyReference.cache
/FundraisinApp-IntegrationPlugin/obj/Debug/FundraisinApp-IntegrationPlugin.csproj.CoreCompileInputs.cache
/FundraisinApp-IntegrationPlugin/obj/Debug/FundraisinApp-IntegrationPlugin.dll
/FundraisinApp-IntegrationPlugin/obj/Debug/FundraisinApp-IntegrationPlugin.pdb
/obj/Debug/Fundraising-Engagement.Plugins.csproj.AssemblyReference.cache
/obj/Debug/Fundraising-Engagement.Plugins.csproj.CoreCompileInputs.cache
/obj/Debug/Fundraising-Engagement.Plugins.csproj.FileListAbsolute.txt
/obj/Debug/Fundraising-Engagement.Plugins.dll
/obj/Debug/Fundraising-Engagement.Plugins.pdb
/bin/Debug/Fundraising-Engagement.Plugins.dll
/bin/Debug/Fundraising-Engagement.Plugins.pdb
/FNQHF-Fundraising-Engagement/obj/Debug/FNQHF-Fundraising-Engagement.csproj.AssemblyReference.cache
/FundraisinApp-IntegrationPlugin/obj/Debug/FundraisinApp-IntegrationPlugin.csproj.AssemblyReference.cache
/obj/Debug/Fundraising-Engagement.Plugins.csproj.AssemblyReference.cache
/obj/Debug/Fundraising-Engagement.Plugins.csproj.CoreCompileInputs.cache
/obj/Debug/Fundraising-Engagement.Plugins.csproj.FileListAbsolute.txt
/obj/Debug/Fundraising-Engagement.Plugins.dll
/obj/Debug/Fundraising-Engagement.Plugins.pdb
