################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs
/FNQHF-Fundraising-Engagement
/.vs/Fundraising-Engagement.Plugins/v17/.suo
/FundraisinApp-IntegrationPlugin/obj/Debug
